.help-council-container {
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

.help-council-container h2 {
    font-size: 24px;
    color: #f8f6f6;
    margin-bottom: 20px;
    background-color: #8c6bae;
    border-radius: 25px;
    padding: 8px 16px;
    display: inline-block;
}

.help-council-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.help-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.help-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px; /* Adjusted for better spacing */
    object-fit: cover;
}

.help-image-compost {
    width: 100%;
    height: 54%;
    border-radius: 8px;
    margin-bottom: -20px;
    object-fit: cover;
    justify-content: center;
}

.help-image-left {
    width: 50%;
    height: auto;
    border-radius: 8px;
    margin-right: 10px;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.help-content h3 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #f8f6f6;
    background-color: #8c6bae;
    border-radius: 25px;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
}

.help-content p {
    font-size: 13px;
    color: #666;
    margin-bottom: 8px;
    line-height: 1.4;
}
.small-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-content.center-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* 居中图片和标题 */
}

.help-image-center {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
    display: block; /* 确保图片作为块级元素 */
    margin-left: auto; /* 左侧自动边距 */
    margin-right: auto; /* 右侧自动边距 */
}


.center-title {
    font-size: 18px; /* 可根据需要调整标题字体大小 */
    color: #333;
    margin-top: 10px; /* 确保标题与图片的间距适当 */
    text-align: center;
}
